/* bootstrap, jquery datatables */
div.dataTables_wrapper label{
	font-size: 10px;
}

div.dataTables_wrapper select{
	height: 20px;
}

div.dataTables_wrapper input{
	height: 20px;
	font-size: 10px;
	padding: 0 4px 0 4px;
}

div.dataTables_wrapper div.dataTables_info{
	font-size: 10px;
	padding-top: 4px;
	white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate{
	font-size: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current{
	color: white !important;
	background: #1d520a;
	padding: 1px 4px 1px 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 1px 4px 1px 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	background: #cae8bf;
	color: #000000 !important;
	border-color: #cae8bf;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color: white !important;
	background: #1d520a;
}

.table.dataTable thead th{
	border-bottom: 0px solid #ddd;
}

.table.dataTable tfoot tr td{
	border-bottom: 0px solid #ddd;
}

.table.no-border td{
	padding: 2px;
	vertical-align: top;
	border-top: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
}

.table{
	margin-bottom: 10px;
	font-size: 12px;
}

.table>thead>tr{
	background: #edf3f4;
	color: #707070;
}

.table>tfoot>tr{
	background: #edf3f4;
	color: #707070;
}

.table-bordered>thead>tr>th{
	border-bottom-width: 0px !important;
}

table.dataTable th,
table.dataTable td{
	padding: 5px 10px 5px 10px !important;
	border-color: rgb(211, 211, 211) !important;
}

table{
	border-color: rgb(211, 211, 211) !important;
}

table.transparent{
	background: transparent !important;
}

td{
	font-size: 12px;
	padding: 0 5px;
}

td.no-margin{
	padding: 0 !important;
	margin: 0 !important;
}

td.category{
	background-color: #edf3f4 !important;
	color: #000000;
	font-weight: normal;
	vertical-align: middle; 
	white-space: nowrap;
}

/* table row with url */
.tr-url{
	cursor: pointer;
}

/* table for bug header */
.bug-header{
	font-weight:bold;
	color:#858585;
}
