/* section margin */
.section {
	margin: 0 6px 0 6px;
}
.subsection {
	margin: 0 12px 0 12px;
}
.no-padding {
	padding:0 0 0 0;
}

/* default horizontal lines */
hr{
	margin: 0 0 10px 0 !important;
}

.row{
	margin: 0 0 0 0;
}

/* collapsable horizontal line with text */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: left;
  height: 1.5em;
  font-weight: bold;
  font-size:13px;
  opacity: 1;
  cursor: Pointer;
  margin: 25px 0 10px 0 !important;
}

.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#818078), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, #fafafa, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  content: '[-] ' attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0 0 0;
  line-height: 1.5em;
  color: #656565;
  background-color: #ffffff;
}
.hr-text.collapsed:after {
  content: '[+] ' attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0 0 0;
  line-height: 1.5em;
  color: #656565;
  background-color: #ffffff;
}

/* page title */
.hr-page-title {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  text-align: center;
  height: 1.5em;
  font-weight: italic;
  font-size: 18px;
  opacity: 1;
  margin-top: 5px;
  margin-bottom: 0px;
}
.hr-page-title:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#818078), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, #fafafa, #1d520a, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
}
.hr-page-title:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0px 10px;
  line-height: 1.5em;
  color: #1d520a;
  background-color: #ffffff;
}
