/* remove borders of tab content */
.tab-content {
    border: 0;
    padding: 10px 0 0 0;
	margin: 0 0 0 0 !important;
    position: relative;
}

/* reduced height of navigation bar */
.navbar {
    min-height: 5px;
}

.nav-tabs{
	margin-left: 0 !important;
	margin-right: 0 !important;
	padding: 0 10px 0 10px;
}

.ace-nav > li {
    line-height: 35px;
    height: 35px;
    padding: 0;
}

/* action bar */
.actionbar {
	border-left-width: 10px !important;
	border-right-width: 10px !important;
	border-radius: 4px !important;
	border-collapse: separate !important;
	background: #b3b3b3;
	color: #ffffff;
	padding: 2px 5px 2px 5px !important;
	margin: 0 0 2px 0 !important;
	font-size: 13px;
}

table.actionbar {
	width: 100%;
	margin: 0 0 0 0 !important;
	padding: 0 0 0 0 !important;
	background: transparent !important;
	border-radius: 0px !important;
}

/* dropdown intermediate header and colors */
.dropdown-header {
	color: #1d520a;
	padding: 5px;
	font-weight: bold;
}

.dropdown-green > li:hover > a,
.dropdown-green > li > a:focus,
.dropdown-green > li > a:active,
.dropdown-green > li.active > a,
.dropdown-green > li.active:hover > a {
    background: #cae8bf;
    color: #444444;
}
