/* collapsable horizontal line with text */
.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: left;
  height: 1.5em;
  font-weight: bold;
  opacity: 1;
  cursor: Pointer;
  margin-top: 25px;
  margin-bottom: 10px;
}

.hr-text:before {
  content: '';
  background: -webkit-gradient(linear, left top, right top, from(#818078), color-stop(#818078), to(transparent));
  background: linear-gradient(to right, #fafafa, #818078, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
.hr-text:after {
  data-content: "test";
  content: '[-] ' attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0;
  line-height: 1.5em;
  color: #818078;
  background-color: #ffffff;
}
.hr-text.collapsed:after {
  content: '[+] ' attr(data-content);
  position: relative;
  display: inline-block;
  padding: 0 0;
  line-height: 1.5em;
  color: #818078;
  background-color: #ffffff;
}

/* remove borders of tab content */
.tab-content {
    border: 0px;
    padding: 10px 0px 0px;
    position: relative;
}


/* reduced height of navigation bar */
.navbar {
    min-height: 5px;
}
.ace-nav > li {
    line-height: 35px;
    height: 35px;
    padding: 0;
}

/* dropdown intermediate header and colors */
.dropdown-header {
	color: #1d520a;
	padding: 5px;
	font-weight: bold;
}
.dropdown-green > li:hover > a,
.dropdown-green > li > a:focus,
.dropdown-green > li > a:active,
.dropdown-green > li.active > a,
.dropdown-green > li.active:hover > a {
    background: #cae8bf;
    color: #444444;
}
